.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.breadcrumb{
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
}

.content{
    height: 100%;
    background-color: #F8F9FA;
}