#sidebar {
    min-width: 250px;
	max-width: 250px;
	min-height: 100vh; /*vh: view port height. It'll increase with screen size*/
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
	/* don't forget to add all the previously mentioned styles here too */
	background-color: #3b4652e8;
    /* background: #7386D5; */
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
	padding: 20px;
	background-color: #3b4652;
    /* background: #6d7fcc; */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
	background-color: #fff ;
	color: #3b4652e5;
    /* color: #7386D5;
    background: #fff; */
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    /* color: #fff;
	background: #6d7fcc; */
	background-color: #3b4652;
	color: #fff ;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.user-picture{
	display: inline-block; 
	text-align: center;
	font-size: 5.0em;
	color: #fff ;
}