<nav id="sidebar">
  <div class="sidebar-header">
      <p style="text-align: center;">
          <i class="fas fa-user-circle user-picture"></i>
      </p>
    <h3 style="text-align: center;">Welcome, User</h3>
  </div>
  <ul class="list-unstyled components">
    <p>
      <i class="fas fa-ellipsis-v"></i>
        &nbsp;&nbsp;Main Menu&nbsp;&nbsp;
      <i class="fas fa-caret-down"></i>
    </p>
    <li class="active">
      <a href="#"><i class="fas fa-th"></i>&nbsp;&nbsp;Dashboard</a>
      <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Orders</a>
                </li>
                <li>
                    <a href="#">Products</a>
                </li>
                <li>
                    <a href="#">Inventory</a>
                </li>
            </ul> -->
    </li>
    <li>
      <a href="#"><i class="fas fa-cart-plus"></i>&nbsp;&nbsp;Orders</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-industry"></i>&nbsp;&nbsp;Products</a>
      <!-- <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul> -->
    </li>
    <li>
      <a href="#"><i class="fas fa-binoculars"></i>&nbsp;&nbsp;Inventory</a>
    </li>
    <li>
        <a href="#"><i class="fas fa-file-alt"></i>&nbsp;&nbsp;Reports</a>
    </li>
    <li>
        <a href="#"><i class="fas fa-address-book"></i>&nbsp;&nbsp;Contact Us</a>
    </li>    
  </ul>

</nav>