<div class="modal-dialog text-right">
  <div class="col-sm8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img text-left">
        <img src="../../../assets/face.png"/>
      </div>
      
      <form class="col-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Username"/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Enter Password"/>
        </div>
        <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
      </form>
      <div class="col-12 forgot">
        <a href="#">Forgot Password? </a>
        <a href="#" class="signup"> Sign Up</a>
      </div>
    </div>
  </div>
</div>