@import url('https://fonts.googleapis.com/css?family=Roboto');

.main-section{
	margin: 0 auto;
	margin-top: 30%;
	padding: 0;
}

.modal-content{
	background-color: #3b4652;
	opacity: .87;
	padding: 0 27px;
	box-shadow: 0px opx 3px #848484;
}

.user-img {
	margin-top: -75px;
	margin-bottom: 35px;
}

.user-img img{
	height: 160px;
	width: 160px;
	border-radius: 5px;
	box-shadow: 0px opx 2px #848484;
}

.form-group{
	margin-bottom: 28px;
}

.form-group input{
	height: 50px;
	border-radius: 5px;
	border: 0;
	font-size: 19px;
	padding-left: 60px;
}

.form-group::before{
	font-family: 'Font Awesome\ 5 Free';
	content: "\f007";
	position: absolute;
	font-size: 26px;
	color: #3b4652;
	left: 28px;
	padding-top: 4px;
}

.form-group:last-of-type::before{
	content: "\f023";
}

button{
	width: 50%;
	height: 50%;
	margin: 5px 0 20px;
}

.btn{
	background-color: #27c2a5;
	color: #fff;
	font-size: 22px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #219882;
}

.btn:hover, .btn:focus{
	background-color: #25a890!important;
	border-bottom: 4px solid #25a890!important;
}

.svg-inline--fa{
	font-size:20px;
	margin-right: 7px;
}

.forgot{
	padding: 3px 7px 18px;
}
.forgot a {
	color: #c2fbfe;
}