@import url('https://fonts.googleapis.com/css?family=Roboto');

/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Roboto', sans-seriff;
	margin: 0;
	background-color: #F8F9FA;
}